
    body {
    color: #00AEEF;
    background-color: white;
    font-size: 25px;
    }
    /*--------------------------------NAVIGATION-------------------------------*/
    .navigation-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
   
    border-right: 3px solid #00AEEF;
    border-top: 3px solid #00AEEF;
     text-align:center;
    }
   
    .grid-itemnav{
        border-left: 3px solid #00AEEF;
        padding:16px;
        align-self:center;
        text-align:center;
       
    }
    /*--------------------------------HOME-------------------------------*/
    .home-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:300px;
        border-right: 3px solid #00AEEF;
        border-top: 3px solid #00AEEF;
        border-bottom: 3px solid #00AEEF;
    }
    
    .grid-itemhome{
        border-left: 3px solid #00AEEF;
    }
    #homeitem1 {
       text-align:center;
       padding-top:3%;
   }
    #homeitem2{
        text-align:center;
    }
   
    #btnStart {
        color: #00AEEF;
        border-radius: 10px ;
        margin-top:20%;
     }
    #btnStart:hover{
         background-color: #00AEEF;
         color: white;
     }
    /*-------------------------------------------------------------------*/
    .global-container{
        display: grid;
        border: 3px solid #00AEEF;
        border-top:0px;
    }
    /*--------------------------------TEAM-------------------------------*/
    .team-container{
        width:90%;
        grid-template-columns: repeat(3,1fr);
        grid-gap:20px;
       /* justify-content: center;*/
        padding-left:5%;
        padding-right:5%;
        display: grid;
    }
   
    .circle{
        margin-bottom: 15%;
        margin-top: 15%;
        width: 200px;
        height:200px;
        border-radius:50% ;
        border: 3px solid #00AEEF;
        background-color: white;
        align-self: center;
        justify-self: center;
    }
   #teamitem1:hover{
       background-color: #00AEEF ;
       color:white;
   }
    #teamitem2:hover{
       background-color: #0000FF  ;
       color:white;
   }
    #teamitem3:hover{
       background-color:  #FF00FF ;
       color:white;
   }
    /*--------------------------------ABOUT-------------------------------*/
    .about-container{
        width:90%;
        grid-template-columns: repeat(4,1fr);
        grid-gap:15px;
        padding:5%;
        
        display: grid;
    }
   
    .square{
        width: 200px;
        height:150px;
        border-radius:20% ;
        border: 3px solid #00AEEF;
        margin-bottom: 15%;
        margin-top: 15%;
        background-color: white;
        align-self: center;
        justify-self: center;
        display: grid;
  
    }
    .square:hover{
        background-color:#00AEEF;
        color: white;
    }
    
    /*--------------------------------CONTACT-------------------------------*/
    .contact-container{
        border: 3px solid #00AEEF;
        border-top:0px;
        padding-bottom:1%;
        padding-top:1%;
        font-size: 25px;
        text-align:center;
    }
   